flows.json
[
    {
        "id": "8381c865.236028",
        "type": "subflow",
        "name": "Single value",
        "info": "The 'single value' subflow allows to extract data from processing node.\r\n\r\n * Filter Data to extract only one variable after the \"processing node\" step .\r\n * Modify the message to fit with standard widgets such as gauges.\r\n * Limit the number of messages to a maximum of 10 msg per second.\r\n\r\n### **Input**\r\n\r\nThe subflow 'single value' takes in input the `msg.payload`\r\nfrom the processing output. All the messages sent by the processing node have the same structure.\r\n\r\n    \"payload\": {\r\n        \"groupname\": \"Snapshot2\",\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ],\r\n        \"variablename\": \"int2\"\r\n      }\r\n    }\r\n\r\n### **Filter on selected variable**\r\nSeveral messages are sent by the processing node for each variable, so the first step of this 'single value' subflow is to filter and keep only messages related to the selected variable.\r\nThe 'filter variable' node will only keep messages with the right `variablename` key.\r\n\r\n### **Extract duplets table**\r\n\r\nThe received message is an Object containing {groupname, variabledata[array], variablename}.  \r\nThe array contains two variables :\r\n - `y` the value \r\n - `x` the time\r\n\r\nA single message contains multiple pairs of values extract at a regular time interval.\r\nThe time interval depends on the acquisition frequency.\r\nWith the 'change' node and the `set` property, the `msg.payload` is set to \r\n`msg.payload.variabledata`, only the data variable array is set into msg.payload.\r\n\r\n    \"payload\": {\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ]\r\n    }\r\n\r\n### **Split duplets table**\r\n\r\nThe data variable array is split with a length of one in smaller objects by the 'split' node.\r\nEach new object contains two subvariables : `y` and `x`.\r\n\r\n    \"payload\": {\r\n        \"y\": \"9\",\r\n        \"x\": \"1567509421459\"\r\n    }\r\n\r\n\r\n### **Limit the number of messages**\r\n\r\nThe 'delay' node allows to limit the maximum number of message per second.\r\nIn the 'single value' subflow, one message is extracted per second.\r\n\r\n>_Be careful, a dashboard saturation risk exists if too many messages are received per second._\r\n\r\n### **Extract only y values**\r\n\r\nThe `msg.payload` is set to `msg.payload.y` with the `set` property. \r\nOnly `y` variable is set into msg.payload as single value.\r\n\r\n    \"payload\": { \r\n        \"y\": \"9\" \r\n    }\r\n\r\n### **Output** \r\n\r\nSome widgets such as the gauge and the text node are using the `msg.payload` property.  \r\nThe output node is linked to a gauge that allows to see the evolution \r\nof the `y` variable as a function of time.\r\n\r\n\r\n![subflow_gauge](images/subflow_gauge.png)\r\n\r\n### **Details**\r\n\r\nNote : The debug node allows to see clearly and easily the \r\nmessage at the node output.  \r\n\r\n\r\n> More details on : [Node-Red](https://nodered.org/docs/user-guide/editor/workspace/subflows)\r\n\r\n\r\n-------\r\n\r\n",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 60,
                "wires": [
                    {
                        "id": "3c5ffe0d.9063b2"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 140,
                "wires": [
                    {
                        "id": "66397fd3.d8111",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "varfilter",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-filter",
                    "label": {
                        "en-US": "Variable"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            }
        ],
        "color": "#3CB4E6"
    },
    {
        "id": "3c5ffe0d.9063b2",
        "type": "switch",
        "z": "8381c865.236028",
        "name": "filter variable",
        "property": "payload.variablename",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "varfilter",
                "vt": "env"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 170,
        "y": 60,
        "wires": [
            [
                "4e5ba7a5.14dec8"
            ]
        ]
    },
    {
        "id": "4e5ba7a5.14dec8",
        "type": "change",
        "z": "8381c865.236028",
        "name": "keep only table of duplets",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.variabledata",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 60,
        "wires": [
            [
                "42bc6ed.5b20d9"
            ]
        ]
    },
    {
        "id": "42bc6ed.5b20d9",
        "type": "split",
        "z": "8381c865.236028",
        "name": "Split a table[1..n] of duplets in n msg of single duplet",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 800,
        "y": 60,
        "wires": [
            [
                "8b8ddb84.6fb208"
            ]
        ]
    },
    {
        "id": "8b8ddb84.6fb208",
        "type": "delay",
        "z": "8381c865.236028",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "10",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 200,
        "y": 140,
        "wires": [
            [
                "66397fd3.d8111"
            ]
        ]
    },
    {
        "id": "66397fd3.d8111",
        "type": "change",
        "z": "8381c865.236028",
        "name": "keep only value and delete timestamp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.y",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "7b9ed63e.2138f8",
        "type": "tab",
        "label": "Basic_Flow",
        "disabled": false,
        "info": "# Basic flow to start with STM32CubeMonitor."
    },
    {
        "id": "1ebbb430.dac7dc",
        "type": "ui_chartst",
        "z": "7b9ed63e.2138f8",
        "group": "f9c34dde.1e2f4",
        "name": "myChart",
        "order": 4,
        "width": 15,
        "height": 9,
        "chartType": "line",
        "curveType": "linear",
        "duration": "10",
        "ymin": "",
        "ymax": "",
        "x": 580,
        "y": 280,
        "wires": []
    },
    {
        "id": "6013fb0b.5b7504",
        "type": "acquisition out",
        "z": "7b9ed63e.2138f8",
        "name": "myProbe_Out",
        "probeconfig": "88c7d49.9841028",
        "x": 620,
        "y": 140,
        "wires": []
    },
    {
        "id": "4a573fb0.4bc99",
        "type": "acquisition in",
        "z": "7b9ed63e.2138f8",
        "name": "myProbe_In",
        "probeconfig": "88c7d49.9841028",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "a7c3e070.5a6c",
                "e2f60041.c170e"
            ],
            []
        ]
    },
    {
        "id": "d59587ff.cd1748",
        "type": "variables",
        "z": "7b9ed63e.2138f8",
        "groupname": "myVariables",
        "accesspoint": 0,
        "execonfig": "7fd8c951.ee4488",
        "variablelist": [],
        "triggerstartmode": "manual",
        "triggername": "Kd",
        "triggerthreshold": "30000",
        "frequency": "",
        "frequencyType": "0",
        "snapshotheader": "",
        "mode": "direct",
        "lastImportedTime": 1623276604952,
        "openStatus": true,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "6013fb0b.5b7504",
                "5c794279.a0870c"
            ]
        ]
    },
    {
        "id": "fc00295e.79ada8",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Clear Graphs",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "clear",
        "x": 430,
        "y": 480,
        "wires": [
            [
                "1ebbb430.dac7dc"
            ]
        ]
    },
    {
        "id": "5fd51c96.2330e4",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "START Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "start",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "d59587ff.cd1748"
            ]
        ]
    },
    {
        "id": "52eadfe3.2c8cc",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": true,
        "label": "STOP Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "stop",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "d59587ff.cd1748"
            ]
        ]
    },
    {
        "id": "a7c3e070.5a6c",
        "type": "processing",
        "z": "7b9ed63e.2138f8",
        "groupname": "myVariables",
        "groupid": "d59587ff.cd1748",
        "expressions": [],
        "statistics": [],
        "logmode": "no",
        "x": 390,
        "y": 280,
        "wires": [
            [
                "1ebbb430.dac7dc",
                "f70f9a03.866698"
            ],
            []
        ]
    },
    {
        "id": "816b47f9.f415b8",
        "type": "ui_gauge",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "7fc50ae0.e54854",
        "order": 1,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "-30",
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 850,
        "y": 420,
        "wires": []
    },
    {
        "id": "f70f9a03.866698",
        "type": "subflow:8381c865.236028",
        "z": "7b9ed63e.2138f8",
        "name": "REALVel",
        "env": [
            {
                "name": "varfilter",
                "value": "realVel",
                "type": "str"
            }
        ],
        "x": 620,
        "y": 520,
        "wires": [
            [
                "816b47f9.f415b8"
            ]
        ]
    },
    {
        "id": "5c794279.a0870c",
        "type": "ui_write",
        "z": "7b9ed63e.2138f8",
        "group": "7fc50ae0.e54854",
        "name": "",
        "order": 2,
        "width": 7,
        "height": 6,
        "x": 430,
        "y": 220,
        "wires": [
            [
                "6013fb0b.5b7504"
            ]
        ]
    },
    {
        "id": "e2f60041.c170e",
        "type": "processing",
        "z": "7b9ed63e.2138f8",
        "groupname": "myVariables",
        "groupid": "d59587ff.cd1748",
        "expressions": [],
        "statistics": [],
        "logmode": "no",
        "x": 370,
        "y": 380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f9c34dde.1e2f4",
        "type": "ui_group",
        "name": "Chart",
        "tab": "17d09b07.741a55",
        "order": 1,
        "disp": true,
        "width": 15,
        "collapse": false
    },
    {
        "id": "88c7d49.9841028",
        "type": "probe",
        "probeid": "066BFF535155878281055732",
        "probename": "ST-Link v2-1B (...55732)",
        "protocol": "SWD",
        "frequency": "1.8 MHz - Default",
        "probeproperty": "{\"SWD\":[\"4.6 MHz\",\"1.8 MHz - Default\",\"950 kHz\",\"400 kHz\",\"150 kHz\"],\"JTAG\":[\"18 MHz\",\"9 MHz\",\"4.5 MHz\",\"2.25 MHz\",\"1.12 MHz - Default\",\"560 kHz\",\"280 kHz\",\"140 kHz\"]}",
        "probeversion": "ST Link firmware version V2.J37",
        "connectionType": "p2p"
    },
    {
        "id": "7fd8c951.ee4488",
        "type": "exe-config",
        "name": "my",
        "exefile": "C:\\Git\\Week7\\Debug\\Week7 QEI.elf",
        "exefolder": "C:\\Git\\Week7\\Debug",
        "exevariablelist": [
            {
                "address": "0x08003f54",
                "name": "AHBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x08003f5e",
                "name": "AHBPrescTable[10]",
                "type": 1
            },
            {
                "address": "0x08003f5f",
                "name": "AHBPrescTable[11]",
                "type": 1
            },
            {
                "address": "0x08003f60",
                "name": "AHBPrescTable[12]",
                "type": 1
            },
            {
                "address": "0x08003f61",
                "name": "AHBPrescTable[13]",
                "type": 1
            },
            {
                "address": "0x08003f62",
                "name": "AHBPrescTable[14]",
                "type": 1
            },
            {
                "address": "0x08003f63",
                "name": "AHBPrescTable[15]",
                "type": 1
            },
            {
                "address": "0x08003f55",
                "name": "AHBPrescTable[1]",
                "type": 1
            },
            {
                "address": "0x08003f56",
                "name": "AHBPrescTable[2]",
                "type": 1
            },
            {
                "address": "0x08003f57",
                "name": "AHBPrescTable[3]",
                "type": 1
            },
            {
                "address": "0x08003f58",
                "name": "AHBPrescTable[4]",
                "type": 1
            },
            {
                "address": "0x08003f59",
                "name": "AHBPrescTable[5]",
                "type": 1
            },
            {
                "address": "0x08003f5a",
                "name": "AHBPrescTable[6]",
                "type": 1
            },
            {
                "address": "0x08003f5b",
                "name": "AHBPrescTable[7]",
                "type": 1
            },
            {
                "address": "0x08003f5c",
                "name": "AHBPrescTable[8]",
                "type": 1
            },
            {
                "address": "0x08003f5d",
                "name": "AHBPrescTable[9]",
                "type": 1
            },
            {
                "address": "0x08003f64",
                "name": "APBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x08003f65",
                "name": "APBPrescTable[1]",
                "type": 1
            },
            {
                "address": "0x08003f66",
                "name": "APBPrescTable[2]",
                "type": 1
            },
            {
                "address": "0x08003f67",
                "name": "APBPrescTable[3]",
                "type": 1
            },
            {
                "address": "0x08003f68",
                "name": "APBPrescTable[4]",
                "type": 1
            },
            {
                "address": "0x08003f69",
                "name": "APBPrescTable[5]",
                "type": 1
            },
            {
                "address": "0x08003f6a",
                "name": "APBPrescTable[6]",
                "type": 1
            },
            {
                "address": "0x08003f6b",
                "name": "APBPrescTable[7]",
                "type": 1
            },
            {
                "address": "0x20000068",
                "name": "diferr[0]",
                "type": 9
            },
            {
                "address": "0x2000006c",
                "name": "diferr[1]",
                "type": 9
            },
            {
                "address": "0x20000070",
                "name": "diferr[2]",
                "type": 9
            },
            {
                "address": "0x20000038",
                "name": "EncoderVel",
                "type": 9
            },
            {
                "address": "0x20000060",
                "name": "err",
                "type": 9
            },
            {
                "address": "0x20000138",
                "name": "htim1.Channel",
                "type": 2
            },
            {
                "address": "0x2000015e",
                "name": "htim1.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x2000015f",
                "name": "htim1.ChannelNState[1]",
                "type": 2
            },
            {
                "address": "0x20000160",
                "name": "htim1.ChannelNState[2]",
                "type": 2
            },
            {
                "address": "0x20000161",
                "name": "htim1.ChannelNState[3]",
                "type": 2
            },
            {
                "address": "0x2000015a",
                "name": "htim1.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x2000015b",
                "name": "htim1.ChannelState[1]",
                "type": 2
            },
            {
                "address": "0x2000015c",
                "name": "htim1.ChannelState[2]",
                "type": 2
            },
            {
                "address": "0x2000015d",
                "name": "htim1.ChannelState[3]",
                "type": 2
            },
            {
                "address": "0x20000162",
                "name": "htim1.DMABurstState",
                "type": 2
            },
            {
                "address": "0x2000013c",
                "name": "htim1.hdma[0]",
                "type": 5
            },
            {
                "address": "0x20000140",
                "name": "htim1.hdma[1]",
                "type": 5
            },
            {
                "address": "0x20000144",
                "name": "htim1.hdma[2]",
                "type": 5
            },
            {
                "address": "0x20000148",
                "name": "htim1.hdma[3]",
                "type": 5
            },
            {
                "address": "0x2000014c",
                "name": "htim1.hdma[4]",
                "type": 5
            },
            {
                "address": "0x20000150",
                "name": "htim1.hdma[5]",
                "type": 5
            },
            {
                "address": "0x20000154",
                "name": "htim1.hdma[6]",
                "type": 5
            },
            {
                "address": "0x20000134",
                "name": "htim1.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x2000012c",
                "name": "htim1.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x20000124",
                "name": "htim1.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x20000128",
                "name": "htim1.Init.Period",
                "type": 5
            },
            {
                "address": "0x20000120",
                "name": "htim1.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x20000130",
                "name": "htim1.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x2000011c",
                "name": "htim1.Instance",
                "type": 5
            },
            {
                "address": "0x20000158",
                "name": "htim1.Lock",
                "type": 2
            },
            {
                "address": "0x20000159",
                "name": "htim1.State",
                "type": 2
            },
            {
                "address": "0x200000f0",
                "name": "htim11.Channel",
                "type": 2
            },
            {
                "address": "0x20000116",
                "name": "htim11.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x20000117",
                "name": "htim11.ChannelNState[1]",
                "type": 2
            },
            {
                "address": "0x20000118",
                "name": "htim11.ChannelNState[2]",
                "type": 2
            },
            {
                "address": "0x20000119",
                "name": "htim11.ChannelNState[3]",
                "type": 2
            },
            {
                "address": "0x20000112",
                "name": "htim11.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x20000113",
                "name": "htim11.ChannelState[1]",
                "type": 2
            },
            {
                "address": "0x20000114",
                "name": "htim11.ChannelState[2]",
                "type": 2
            },
            {
                "address": "0x20000115",
                "name": "htim11.ChannelState[3]",
                "type": 2
            },
            {
                "address": "0x2000011a",
                "name": "htim11.DMABurstState",
                "type": 2
            },
            {
                "address": "0x200000f4",
                "name": "htim11.hdma[0]",
                "type": 5
            },
            {
                "address": "0x200000f8",
                "name": "htim11.hdma[1]",
                "type": 5
            },
            {
                "address": "0x200000fc",
                "name": "htim11.hdma[2]",
                "type": 5
            },
            {
                "address": "0x20000100",
                "name": "htim11.hdma[3]",
                "type": 5
            },
            {
                "address": "0x20000104",
                "name": "htim11.hdma[4]",
                "type": 5
            },
            {
                "address": "0x20000108",
                "name": "htim11.hdma[5]",
                "type": 5
            },
            {
                "address": "0x2000010c",
                "name": "htim11.hdma[6]",
                "type": 5
            },
            {
                "address": "0x200000ec",
                "name": "htim11.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x200000e4",
                "name": "htim11.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x200000dc",
                "name": "htim11.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x200000e0",
                "name": "htim11.Init.Period",
                "type": 5
            },
            {
                "address": "0x200000d8",
                "name": "htim11.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x200000e8",
                "name": "htim11.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x200000d4",
                "name": "htim11.Instance",
                "type": 5
            },
            {
                "address": "0x20000110",
                "name": "htim11.Lock",
                "type": 2
            },
            {
                "address": "0x20000111",
                "name": "htim11.State",
                "type": 2
            },
            {
                "address": "0x20000180",
                "name": "htim2.Channel",
                "type": 2
            },
            {
                "address": "0x200001a6",
                "name": "htim2.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x200001a7",
                "name": "htim2.ChannelNState[1]",
                "type": 2
            },
            {
                "address": "0x200001a8",
                "name": "htim2.ChannelNState[2]",
                "type": 2
            },
            {
                "address": "0x200001a9",
                "name": "htim2.ChannelNState[3]",
                "type": 2
            },
            {
                "address": "0x200001a2",
                "name": "htim2.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x200001a3",
                "name": "htim2.ChannelState[1]",
                "type": 2
            },
            {
                "address": "0x200001a4",
                "name": "htim2.ChannelState[2]",
                "type": 2
            },
            {
                "address": "0x200001a5",
                "name": "htim2.ChannelState[3]",
                "type": 2
            },
            {
                "address": "0x200001aa",
                "name": "htim2.DMABurstState",
                "type": 2
            },
            {
                "address": "0x20000184",
                "name": "htim2.hdma[0]",
                "type": 5
            },
            {
                "address": "0x20000188",
                "name": "htim2.hdma[1]",
                "type": 5
            },
            {
                "address": "0x2000018c",
                "name": "htim2.hdma[2]",
                "type": 5
            },
            {
                "address": "0x20000190",
                "name": "htim2.hdma[3]",
                "type": 5
            },
            {
                "address": "0x20000194",
                "name": "htim2.hdma[4]",
                "type": 5
            },
            {
                "address": "0x20000198",
                "name": "htim2.hdma[5]",
                "type": 5
            },
            {
                "address": "0x2000019c",
                "name": "htim2.hdma[6]",
                "type": 5
            },
            {
                "address": "0x2000017c",
                "name": "htim2.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x20000174",
                "name": "htim2.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x2000016c",
                "name": "htim2.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x20000170",
                "name": "htim2.Init.Period",
                "type": 5
            },
            {
                "address": "0x20000168",
                "name": "htim2.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x20000178",
                "name": "htim2.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x20000164",
                "name": "htim2.Instance",
                "type": 5
            },
            {
                "address": "0x200001a0",
                "name": "htim2.Lock",
                "type": 2
            },
            {
                "address": "0x200001a1",
                "name": "htim2.State",
                "type": 2
            },
            {
                "address": "0x200000a8",
                "name": "htim3.Channel",
                "type": 2
            },
            {
                "address": "0x200000ce",
                "name": "htim3.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x200000cf",
                "name": "htim3.ChannelNState[1]",
                "type": 2
            },
            {
                "address": "0x200000d0",
                "name": "htim3.ChannelNState[2]",
                "type": 2
            },
            {
                "address": "0x200000d1",
                "name": "htim3.ChannelNState[3]",
                "type": 2
            },
            {
                "address": "0x200000ca",
                "name": "htim3.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x200000cb",
                "name": "htim3.ChannelState[1]",
                "type": 2
            },
            {
                "address": "0x200000cc",
                "name": "htim3.ChannelState[2]",
                "type": 2
            },
            {
                "address": "0x200000cd",
                "name": "htim3.ChannelState[3]",
                "type": 2
            },
            {
                "address": "0x200000d2",
                "name": "htim3.DMABurstState",
                "type": 2
            },
            {
                "address": "0x200000ac",
                "name": "htim3.hdma[0]",
                "type": 5
            },
            {
                "address": "0x200000b0",
                "name": "htim3.hdma[1]",
                "type": 5
            },
            {
                "address": "0x200000b4",
                "name": "htim3.hdma[2]",
                "type": 5
            },
            {
                "address": "0x200000b8",
                "name": "htim3.hdma[3]",
                "type": 5
            },
            {
                "address": "0x200000bc",
                "name": "htim3.hdma[4]",
                "type": 5
            },
            {
                "address": "0x200000c0",
                "name": "htim3.hdma[5]",
                "type": 5
            },
            {
                "address": "0x200000c4",
                "name": "htim3.hdma[6]",
                "type": 5
            },
            {
                "address": "0x200000a4",
                "name": "htim3.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x2000009c",
                "name": "htim3.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x20000094",
                "name": "htim3.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x20000098",
                "name": "htim3.Init.Period",
                "type": 5
            },
            {
                "address": "0x20000090",
                "name": "htim3.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x200000a0",
                "name": "htim3.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x2000008c",
                "name": "htim3.Instance",
                "type": 5
            },
            {
                "address": "0x200000c8",
                "name": "htim3.Lock",
                "type": 2
            },
            {
                "address": "0x200000c9",
                "name": "htim3.State",
                "type": 2
            },
            {
                "address": "0x200001ec",
                "name": "huart2.ErrorCode",
                "type": 5
            },
            {
                "address": "0x200001e9",
                "name": "huart2.gState",
                "type": 2
            },
            {
                "address": "0x200001e4",
                "name": "huart2.hdmarx",
                "type": 5
            },
            {
                "address": "0x200001e0",
                "name": "huart2.hdmatx",
                "type": 5
            },
            {
                "address": "0x200001b0",
                "name": "huart2.Init.BaudRate",
                "type": 5
            },
            {
                "address": "0x200001c4",
                "name": "huart2.Init.HwFlowCtl",
                "type": 5
            },
            {
                "address": "0x200001c0",
                "name": "huart2.Init.Mode",
                "type": 5
            },
            {
                "address": "0x200001c8",
                "name": "huart2.Init.OverSampling",
                "type": 5
            },
            {
                "address": "0x200001bc",
                "name": "huart2.Init.Parity",
                "type": 5
            },
            {
                "address": "0x200001b8",
                "name": "huart2.Init.StopBits",
                "type": 5
            },
            {
                "address": "0x200001b4",
                "name": "huart2.Init.WordLength",
                "type": 5
            },
            {
                "address": "0x200001ac",
                "name": "huart2.Instance",
                "type": 5
            },
            {
                "address": "0x200001e8",
                "name": "huart2.Lock",
                "type": 2
            },
            {
                "address": "0x200001d4",
                "name": "huart2.pRxBuffPtr",
                "type": 5
            },
            {
                "address": "0x200001cc",
                "name": "huart2.pTxBuffPtr",
                "type": 5
            },
            {
                "address": "0x200001dc",
                "name": "huart2.ReceptionType",
                "type": 5
            },
            {
                "address": "0x200001ea",
                "name": "huart2.RxState",
                "type": 2
            },
            {
                "address": "0x200001da",
                "name": "huart2.RxXferCount",
                "type": 3
            },
            {
                "address": "0x200001d8",
                "name": "huart2.RxXferSize",
                "type": 3
            },
            {
                "address": "0x200001d2",
                "name": "huart2.TxXferCount",
                "type": 3
            },
            {
                "address": "0x200001d0",
                "name": "huart2.TxXferSize",
                "type": 3
            },
            {
                "address": "0x2000005c",
                "name": "Kd",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000058",
                "name": "Ki",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000054",
                "name": "Kp",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000078",
                "name": "PWMOut",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000050",
                "name": "realVel",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000064",
                "name": "sumerr",
                "type": 9
            },
            {
                "address": "0x20000000",
                "name": "SystemCoreClock",
                "type": 5
            },
            {
                "address": "0x200001f0",
                "name": "uwTick",
                "type": 5
            },
            {
                "address": "0x20000008",
                "name": "uwTickFreq",
                "type": 2
            },
            {
                "address": "0x20000004",
                "name": "uwTickPrio",
                "type": 5
            },
            {
                "address": "0x20000074",
                "name": "wantVel",
                "type": 9,
                "checked": true
            }
        ],
        "expand": true,
        "filename": "Week7 QEI.elf",
        "exeModifiedTime": 1623276210453,
        "configLastUpdate": 1623276602384
    },
    {
        "id": "7fc50ae0.e54854",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "17d09b07.741a55",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "17d09b07.741a55",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]